#logo-g {
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
.logo-g {
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  background-color: black;
  width: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}
.logo0 {
  height: 0;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
.logo-gif {
  max-height: 400px;
  width: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  transition: 0.3s;
}
.bbs1 {
  font-size: 5px;
}
.logohi {
  text-align: center;
  animation-delay: 0s;
  animation-name: logo;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: initial;
  transition: 0.3s;
}
.logohid {
  text-align: center;
  animation-delay: 0s;
  animation-name: home;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: initial;
  transition: 0.3s;
}
@keyframes logo {
  from {
    height: 400px;
    top: 0px;
    opacity: 1;
  }
  to {
    height: 0px;
    top: -400px;
    opacity: 0;
  }
}
@keyframes home {
  from {
    top: -400px;
    height: 0px;
    opacity: 0;
  }
  to {
    top: 0px;
    height: 400px;
    opacity: 1;
  }
}
.bigbrain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  font-family: "font1", sans-serif;
  transition: 0.3s;
}
.bigbrain-text {
  align-items: center;
  animation: fadeIn 32;
  font-weight: 700;
  transition: 0.3s;
}
.bigbrain-text h1 {
  font-size: 35px;
  margin: 0px 0px;
  color: #db7800;
  font-weight: 700;
  letter-spacing: 2.8px;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition: 0.3s;
}
.bigbrain-1 {
  margin: 0px 0px;
  color: #db7800;
  letter-spacing: 2.8px;
  font-weight: 700;
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition: 0.3s;
}
.bigbrain-2 {
  color: #009058;
  transition: 0.3s;
}

.bigbrain-text h1 span {
  color: #009058;
  transition: 0.3s;
}

.bigbrain-h2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 2s;
  color: #fdfdfd;
  width: 100%;
  letter-spacing: 0.03em;
  font-weight: normal;
  margin: 5px 0px;
  transition: 0.3s;
}
.bigbrain-h2 span {
  font-size: 25px;
  animation: fadeIn 32;
  transition: 0.3s;
}

span.bigbrain-h2-2 {
  font-size: 18px;
  transition: 0.3s;
}

.box {
  background: goldenrod;
  width: 300px;
  height: 300px;
  margin: 30px auto;
  transition: all 1s linear;
  display: block;
}

@media only screen and (max-width: 630px) {
  .bigbrain-text h1 {
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
    font-size: 30px;
  }

  .bigbrain-h2 span {
    font-size: 17px;
    animation: fadeIn 2s;
  }

  span.bigbrain-h2-2 {
    font-size: 12px;
    animation: fadeIn 2s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(5px);
  }
  100% {
    transform: translatey(0px);
  }
}
