.Annoucements {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    list-style: none;
}
.Annoucements h2{
    margin: 0px;
    padding: 10px;
    max-width: 100%;
}
.Annoucements-1 {
    display: flex;

}

.Annoucements-2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    max-height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
}

.Annoucements-3 {
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    z-index: 3;
    margin: 0;
    padding: 0;
}
.Annoucements-4 {
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 5px;
}
@media only screen and (max-width: 630px) {
    .Annoucements-1 {
        flex-direction: column;
    }

}