#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
h1, h2, h3, h4, p {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  
}
a {
  color: #f4efef;
}
.contents-bg{
  background-image: url("/img/bg-min.png");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position:  80% 55%;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.85);
}
.bgb {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container1 {
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

.container2 {
  max-width: 100%;
  margin: 0;
  height: 100%;
}

.divm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.divm p {
  justify-content: center;
  align-content: center;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin:0;
  max-width: 100%;
  color: #ffffff;
}

.divm button {
  animation: fadeIn 1s;
  margin: 0.5rem;
  padding: 0.5rem;
  max-width: 100%;
  color: #161515;
  width: auto;
  height: auto;
  background-color: rgba(6, 180, 0, 0.191);
}

.divm button:hover {
  color: #f06000;
  background-color: transparent;
  filter: drop-shadow(0 0 5px #61dafbaa);
  scale: 110%;
}

.btn {
  justify-content: center;
  align-content: center;
  text-align: center;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10%;
  padding: 0.8rem;
  font-size: 1rem;
  z-index: 0;
}
.btn:hover {
  background-color: transparent;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}