@font-face {
  font-family: "font1";
  src: url("./img/1.woff") format("woff");
}
@font-face{
  font-family:"Tahoma-W01-Regular";
  src:url("./img/20323430-24f4-4767-9d4d-060d1e89758a.woff") format("woff");
}
@font-face{
  font-family:"Tahoma-W15--Regular";
  src: url("./img/ae844b11-5158-4caf-90b4-7ace49ac3440.woff") format("woff");
}

@font-face{
  font-family:"Tahoma-W99-Regular";
  src:url("./img/d3bbaa1b-d5e3-431f-93a7-9cea63601bb6.woff") format("woff");
}
@font-face {
  font-family: "Tahoma-W10-Regular";
  src: url("./img/9ee00678-b6d7-4b4f-8448-70cfa267d36b.woff") format("woff");
}
* {
  font-family: "font1";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "font1";

}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #000;
}
hr {
  width: 100%;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 15px;

}
button:hover {
  border-color: #01d13c;
  background-color: transparent;
  color: #e33d00;
}
button:focus,
button:focus-visible {
  outline: 2px solid rgb(92, 172, 11);
}
.backToTop  {
  margin: 0;
  padding: 0;
}
.backToTop > button:hover {
  color: #d00401;
  background-color: #dbe1dbd6;
  border: 3px solid rgba(221, 104, 2, 0);
}
.backToTop > button {
  padding: 0px;
  position: fixed;
  box-sizing: border-box;
  color: #04923a;
  background-color: rgba(10, 138, 3, 0);
  border: 2px solid rgba(221, 119, 2, 0.093);
  bottom: 0;
  right: 0;
  margin: 20px;
}

.spinner {
  display: flex;
  margin: 10vw auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-right: auto;
  margin-left: auto;
  transition: opacity linear 0.1s;
  width: 5rem;
  height: 5rem;
  border: 3px solid rgba(80, 80, 80, 0.5);
  border-radius: 50%;
  border-top-color: #000000;
  animation: spin 1s ease-in-out infinite;
  opacity: 0.2;
}
.spinner--active {
  opacity: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
